#navigation_table {
	margin-top: 5px;
}
.navigation_text {
}
.navigation_text a:link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.navigation_text a:visited {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.navigation_text a:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #0087a7;
	text-decoration: none;
}
.differ_line {
	color: #0087a7;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
}
.differ_line_footer {
	color: #002833;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
}

a:link {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #002833;
	text-decoration: none;
}
#main_table {
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
#table_main {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.text_subject_top {
	margin-right: 5px;
	direction: rtl;
	margin-left: 5px;
	font-weight: bold;
	font-size: 10px;
	color: #FFFF66;
}
.main_text {
	line-height: 220%;
	text-align: justify;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	direction: rtl;
	font-size: 12px;
}
.other_text {
	font-size: 11px;
	margin: 20px;
	direction: rtl;
}


#logo_mobile {
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
}
.text_logo_mobile {
	margin-top: 30px;
}
.text_ticket {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #CC0033;
	margin-right: 10px;
}
.text_logo_ticket {
	margin-top: 20px;
	margin-bottom: 20px;
}
.text_form {
	font-size: 12px;
	color: #FF6600;
	margin-right: 30px;
	font-weight: bold;
}
.text_field {
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px solid #339900;
	background-color: #FFFF66;
	direction: rtl;
}
.button_reg {
	color: #339900;
	margin-right: 10px;
	font-weight: bold;
	font-size: 11px;
}

.text_radio {
	color: #3399FF;
	font-weight: bold;
}
.text_field_login {
	font-size: 11px;
	color: #333333;
	background-color: #FFFF66;
	border: 1px solid #FFCC00;
	margin-left: 10px;
	direction: rtl;
}
.button_login {
	font-size: 11px;
	color: #FF6600;
	margin-top: 10px;
}
.text_form_login {
	margin-right: 10px;
	color: #FF6600;
}
.image_papers {
	float: left;
	margin-left: 70px;
}
.image_cities {
	float: left;
	margin-left: 30px;
	margin-right: 25px;
	border: 1px solid #000000;
}

ul {
	direction: rtl;
	color: #00FF33;
	font-size: 14px;
}
.named_anchor {
	margin-right: 5px;
	margin-left: 5px;
	direction: rtl;

}
.named_anchor a:link {
	color: #3399FF;
	text-decoration: none;
}
.named_anchor a:visited {
	color: #3399FF;
	text-decoration: none;
}
.named_anchor a:hover {
	color: #CC0033;
	text-decoration: none;
}
.image_status {
	float: right;
	margin-right: 15px;
	margin-left: 30px;
}
.image_status_tabriz {
	margin-right: 15px;
	margin-left: 200px;
	float: right;
}
#pic_gallery_small {
	margin-right: 5px;
	margin-left: 5px;
	border: 2px solid #000000;
}
.topic_text {
	font-family: IranNastaliq;
	font-size: 36px;
	color: #CCCCCC;
	margin-top: 20px;
	direction: rtl;
	margin-right: 20px;
}
